<a href="https://colab.research.google.com/github/Francesca997/python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Contare il numero di occorrenze dell'elemento "mela" nella tupla precedente.
tupla = ("mela", "kiwi", "mela", "ananas", "lampone")
print(tupla.count("mela"))

2

In [8]:
#Creare una tupla contenente il quadrato dei numeri interi da 1 a 5.
quadrati = tuple(x**2 for x in range(1, 6))
print(quadrati)

(1, 4, 9, 16, 25)

In [6]:
#Creare una nuova tupla concatenando la tupla precedente con la tupla ("pesca", "arancia").
tupla = ("mela", "kiwi", "lampone")
tupla_concatenata = tupla + ("pesca", "arancia")
print(tupla_concatenata)

('mela', 'kiwi', 'lampone', 'pesca', 'arancia')

In [5]:
#Verificare se l'elemento "ananas" è presente nella tupla precedente
tupla = ("mela", "kiwi", "ananas")
if "ananas" in tupla:
    print("L'elemento 'ananas' è presente nella tupla.")
else:
    print("L'elemento 'ananas' non è presente nella tupla.")

L'elemento 'ananas' è presente nella tupla.

In [4]:
#Creare una nuova tupla che contenga solo i primi due elementi della tupla precedente.
tupla = ("mela", "kiwi", "lampone")
print(tupla[0:2])

('mela', 'kiwi')

In [7]:
#Creare una tupla contenente i numeri interi da 1 a 5.
tupla = (1, 2, 3, 4, 5)
print(tupla)

(1, 2, 3, 4, 5)

In [3]:
#Accedere all'elemento "kiwi" della tupla precedente
tupla = ("mela", "kiwi", "lampone")
print(tupla[1])

kiwi

In [2]:
#Creare una tupla con i seguenti elementi: "mela", "kiwi", "lampone"
tupla = ("mela", "kiwi", "lampone")
print(tupla)

('mela', 'kiwi', 'lampone')

In [1]:
#Creare una tupla vuota e assegnarla a una variabile.
tupla_vuota = ()
print(tupla_vuota)

()